/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <4>;
        map = <
            RC(3,0) RC(3,1) RC(3,2) RC(3,4) RC(3,5) RC(3,6)
            RC(2,0) RC(2,1) RC(2,3) RC(2,4) RC(2,5) RC(2,6)
            RC(1,0) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6)
                                    RC(0,4) RC(0,5) RC(0,6)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;

        interrupt-gpios
            = <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        gpios
            = <&xiao_d  0 (GPIO_ACTIVE_HIGH)>
            , <&xiao_d  1 (GPIO_ACTIVE_HIGH)>
            , <&xiao_d  2 (GPIO_ACTIVE_HIGH)>
            , <&xiao_d  3 (GPIO_ACTIVE_HIGH)>
            , <&xiao_d 10 (GPIO_ACTIVE_HIGH)>
            , <&xiao_d  9 (GPIO_ACTIVE_HIGH)>
            , <&xiao_d  8 (GPIO_ACTIVE_HIGH)>
            ;    
    };

    // layout_0: layout_0 {
    //     compatible = "zmk,physical-layout";
    //     display-name = "Default";

    //     transform = <&default_transform>;

    //     keys  //                     w   h    x    y     rot    rx    ry
    //         = <&key_physical_attrs 100 100    0    0       0     0     0>
    //         , <&key_physical_attrs 100 100  100    0       0     0     0>
    //         , <&key_physical_attrs 100 100  200    0       0     0     0>
    //         , <&key_physical_attrs 100 100  300    0       0     0     0>
    //         , <&key_physical_attrs 100 100  400    0       0     0     0>
    //         , <&key_physical_attrs 100 100  500    0       0     0     0>
    //         , <&key_physical_attrs 100 100    0  100       0     0     0>
    //         , <&key_physical_attrs 100 100  100  100       0     0     0>
    //         , <&key_physical_attrs 100 100  200  100       0     0     0>
    //         , <&key_physical_attrs 100 100  300  100       0     0     0>
    //         , <&key_physical_attrs 100 100  400  100       0     0     0>
    //         , <&key_physical_attrs 100 100  500  100       0     0     0>
    //         , <&key_physical_attrs 100 100    0  200       0     0     0>
    //         , <&key_physical_attrs 100 100  100  200       0     0     0>
    //         , <&key_physical_attrs 100 100  200  200       0     0     0>
    //         , <&key_physical_attrs 100 100  300  200       0     0     0>
    //         , <&key_physical_attrs 100 100  400  200       0     0     0>
    //         , <&key_physical_attrs 100 100  500  200       0     0     0>
    //         , <&key_physical_attrs 100 100  300  300       0     0     0>
    //         , <&key_physical_attrs 100 100  400  300       0     0     0>
    //         , <&key_physical_attrs 100 100  500  300       0     0     0>
    //         ;
    // };
};
