/*
 * Copyright (c) 2024 Satoru NAKAYA
 *
 * SPDX-License-Identifier: MIT
 */

#include "coconut42.dtsi"

&default_transform {
    col-offset = <7>;
    row-offset = <7>;
};

&five_column_transform {
    col-offset = <7>;
    row-offset = <7>;
};
