/*
 * Copyright (c) 2024 Satoru NAKAYA
 *
 * SPDX-License-Identifier: MIT
 */

#include "coconut42.dtsi"

&default_transform {
    col-offset = <6>;
};

&five_column_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 0 GPIO_ACTIVE_LOW>
        , <&pro_micro 1 GPIO_ACTIVE_LOW>
        , <&pro_micro 6 GPIO_ACTIVE_LOW>
        , <&pro_micro 10 GPIO_ACTIVE_LOW>
        , <&pro_micro 9 GPIO_ACTIVE_LOW>
        , <&pro_micro 8 GPIO_ACTIVE_LOW>
        ;
};
